* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:$color-primary;
}



h1 {
    color: $color-font;
    font-family:$font-family-primary;
    font-size: $font-sm;
}

h2 {
    color: $color-font;
    font-family:$font-family-secundary;
    font-size: $font-lg;
}

li {
    list-style: none;
}