$font-sm: 20px;
$font-lg: 30px;
$sm-viewport: 460px;
$md-viewport: 760px;

$colores: (
  "color-primary": pink,
  "color-font": tomato,
);

$fonts: (
  "primary": "Courier New",
  "secundary": "Gill Sans",
);
